body {
    margin: 0;
    font-family: "Inter", sans-serif;


}



h2 {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 311px;*/
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    margin-top: 58px;
    margin-bottom: 58px;
    text-align: left;
}

@media screen and (min-width:576px) {
    h2 {
        font-size: 30px;
        line-height: 36.31px;

    }
}

@media screen and (min-width:992px) {
    h2 {
        font-size: 40px;
        line-height: 48.41px;

    }
}

h1 {
    font-family: "Libre Caslon Display", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 30px;
    /*width: 314px;*/
    display: block;
}

@media screen and (min-width:576px) {
    h1 {

        /*width: 600px;*/
        font-size: 70px;



    }
}

@media screen and (min-width:992px) {
    h1 {
       /* width: 748px;*/
        font-size: 80px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}

@media screen and (min-width:576px) {
    h3 {
        font-size: 15px;
        line-height: 18.15px;
    }
}

@media screen and (min-width:992px) {
    h3 {
        font-size: 25px;
        line-height: 30.26px;
    }
}