.hero-section-wrapper {
    background-image: url('./Background.png');
    /*max-width: 375px;*/
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

#link-flex {
    display: none;
}

.hero-section {
    margin-left: 32px;
    margin-right: 29px;
}

.nav-bar {
    display: flex;

}

.nav-button-sd {
    padding-left: 60px;
    margin-top: 14px;
}

.news-card-link {
    text-decoration: none;
    color: #D9852C;
    text-align: right;
    display: block;
}

.nav-bar-para {
    margin-bottom: 216px;
}




/*-------For Tablets-------*/

@media screen and (min-width:576px) {

    .hero-section-wrapper {
       /* max-width: 744px;*/
        background-repeat: no-repeat;
        object-fit: cover;
    }

    #link-flex {
        display: none;
    }

    

    .hero-section {
        margin-left: 0;
        margin-right: 0;
    }

    .below-nav-bar {
        margin-left: 72px;
        margin-right: 72px;
    }

    .nav-button-sd {
        padding-left: 250px;
        margin-top: 14px;
    }

    .nav-bar {
        margin-left: 32px;
        margin-right: 27px;
    }

    .nav-bar-para {
        margin-bottom: 216px;
    }

   

    
}

/*---------For Small laptops & desktops-------*/

@media screen and (min-width:992px) {

    .hero-section-wrapper {
        object-fit: cover;
        /*max-width: 1440px;*/
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-text {

        width: 528px;
    }

    #link-flex {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    #link-flex button{
        margin-top: -10px;
    }

    .nav-button-sd {
        display: none;
    }

    .hero-section {

        margin-left: 0;
        margin-right: 0;
    }

    .below-nav-bar {
        margin-left: 72px;
        margin-right: 72px;
    }

    .nav-bar {
        margin-left: 32px;
        margin-right: 27px;
    }

    .nav-bar-para {
        flex: 1;
        margin-bottom: 216px;
    }

}

.nav-bar-link {
    text-align: right;
    display: block;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding-top: 32px;
}



.nav-button {
    padding-top: 32px;
}

.nav-bar-text {
    font-weight: 900;
    color: #FFFFFF;
    font-size: 30.4px;
    margin-top: 0px;
    padding-top: 32px;
}

.hero-rectangle {
    background-color: #FFFFFF;
    height: 15px;
    width: 90px;
}

.nav-bar-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 11px 27px 11px 27px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: none;
}

.hero-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 30.33px;
    padding-top: 10px;
    display: block;
    width: 314px;
}

@media screen and (min-width:576px) {
    .hero-text {

        width: 528px;
    }
}

@media screen and (min-width:992px) {
    .hero-text {

        width: 528px;
    }
}


.hero-button {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    padding: 9px 27px 11px 28px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    background: none;


}

.news-read {
    max-width: 311px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

@media screen and (min-width:576px) {
    .news-read {

        margin-left: 0;

    }
}

@media screen and (min-width:992px) {
    .news-read {

        margin-left: 0;

    }

}

.news-card-wrapper {
    max-width: 311px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

@media screen and (min-width:576px) {
    .news-card-wrapper {

        flex-direction: row;
        flex-wrap: wrap;
        max-width: 600px;
        margin-left: 72px;
        margin-right: 72px;
        margin-bottom: 61px;
    }
}

@media screen and (min-width:992px) {
    .news-card-wrapper {
        max-width: 1300px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 72px;
        margin-right: 72px;
        margin-bottom: 61px;
    }
}

.news-card {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

@media screen and (min-width:576px) {
    .news-card {
        width: calc((100% - 40px - 6px)/3);
    }
}

@media screen and (min-width:992px) {
    .news-card {
        width: calc((100% - 40px - 6px)/3);
    }
}

.news-card-image>img {

    object-fit: cover;
    width: 100%;
    height: 352px;
    border-radius: 4px;
    margin-bottom: 0px;

}

.news-card-text-section {

    margin: 32px 35px 32px 32px;
    
}

.news-card-date {
    text-align: left;
    color: #B7B7B7;
    font-weight: 500;
    font-size: 13px;
}

.news-card-title {
    text-align: left;
    color: #000000;
    font-weight: 700;
}

